---
import BlueSection from "../../../components/BlueSection.astro"
import Layout from "../../../layouts/Layout.astro"
import chemie from "../../../assets/chemie.png"
---

<Layout>
    <h1 class="page-title">Studiecoaching</h1>
    <section class="s1">
        <div class="card-section">
            <h3>Studiemethode</h3>
            <p>
                Je manier van studeren bepaalt of je zal slagen in je examens. Studeren is veel meer dan je handboek ettelijke keren doornemen of je slides eindeloos bekijken. Een goede studiemethode helpt je de belangrijke zaken van de bijzaken te onderscheiden, de leerstof te verwerken en verbanden te leggen tussen de verschillende concepten die in de cursus aan bod komen.
                Verder is op tijd ontspannen, voldoende nachtrust en gezond eten minstens even belangrijk als studeren zelf. Een gezonde geest in een gezond lichaam dus.
            </p>
        </div>
        <div class="card-section">
            <h3>Planning en examenvoorbereiding</h3>
            <p>
                Een realistische studieplanning is een goed hulpmiddel in de voorbereiding naar de examens. Je planning moet ruimte hebben voor ontspanning. Zonder ontspanning zal je ogenschijnlijk sneller vooruit gaan, maar je creëert bijkomende lichamelijke stress, wat dan weer niet gunstig is voor het studeren.
            </p>
        </div>
    </section>
    <section class="s2 card-section">
        <h3 class="text-center">Stress en faalangst</h3>
        <p class="text-justify">
            Al ken je je leerstof nog zo goed, je wordt elke examenperiode geconfronteerd met examenstress. Een gezonde dosis stress kan je helpen, maar indien de angst om te buizen voor je examens zo overheersend is, kan je door ademhalingsoefeningen leren hoe je kan ontspannen en zo je faalangst onder controle kan houden. Zelf volg ik al 20 jaar yoga, maar als ik je niet kan helpen, verwijs ik je door naar een uitstekende yoga-leerkracht.
        </p>
    </section>
    <BlueSection class="s4">
        <div>
            <h3>Coaching voor examencommissie </h3>
            <p>Volg je geen les meer op school, maar thuisonderwijs en wil je jouw diploma halen via de examencommissie? Ik help je door dit traject door een goede planning op te stellen en ondersteun je indien mogelijk ook vakinhoudelijk.</p>   
        </div>
        <div>
            <h3>toelatingsexamen voor hoger onderwijs</h3>
            <p>Wil je deelnemen aan het toelatingsexamen voor arts, tandarts of dierenarts? Ik help je om je uitstekend voor te bereiden. Zo heb je een hogere kans om jouw gedroomde opleiding te mogen volgen.</p>
        </div>
    </BlueSection>
    
</Layout>

<style>
    .s1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .s2 {
        margin: 0 20%;
    }
</style>